html {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

}

p {
   font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
   text-indent: 30px;
   margin-left:20px;
   margin-right:20px;
}
